<div class="home-frame">
    <div class="clearbanner"></div>
    <div class="tutorials-title">
   

    </div>
    <div class="container">
      <table>
  <thead>
  <tr>
    <th>Category Name</th>
    <th>Status</th>
    <th>Created Date</th>
    <th><a href="#/new_category">Add<i class="icon-plus-sign"></i></a></th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="project in list | orderBy:'name'">
    <td>{{project.name}}</td>
    <td>{{project.status}}</td>
    <td>{{project.create_date}}</td>
    <td>
      <a ng-href="#/edit_category/{{project.$id}}"> Edit <i class="icon-pencil"></i></a>
    </td>
    <td>
      <a href="javascript:0" ng-click="delete(project.id)"> Delete <i class="icon-trash"></a></td>
  </tr>
  </tbody>
</table>
        
    </div>
</div>
