
<div class="home-frame">
    <div class="clearbanner"></div>
    <div class="tutorials-title">
   

    </div>
        <div class="container">
        <div class="col-md-2">PageSize:
            <select ng-model="entryLimit" class="form-control">
                <option>5</option>
                <option>10</option>
                <option>20</option>
                <option>50</option>
                <option>100</option>
            </select>
        </div>
        <div class="col-md-3">Filter:
            <input type="text" ng-model="search" ng-change="filter()" placeholder="Filter" class="form-control" />
        </div>
        <div class="col-md-4">
            <h5>Filtered {{ filtered.length }} of {{ totalItems}} total customers</h5>
        </div>
    </div>
    <br/>

    <div class="container">


<div class="col-md-12" ng-show="filteredItems > 0">
      <table  class="table table-striped">
  <thead>
  <tr>
    <th>Category Name</th>
    <th>Status</th>
    <th>Created Date</th>
    <th><a href="#/new_category">Add<i class="icon-plus-sign"></i></a></th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="project in filtered = (list | filter:search | orderBy : predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
    <td>{{project.name}}</td>
    <td ng-if="project.status==0">Enable</td>
    <td ng-if="project.status==1">Disable</td>
    <td>{{project.create_date}}</td>
    <td>
      <a ng-href="#/edit_category/{{project.id}}"> Edit <i class="icon-pencil"></i></a>
    </td>
    <td>
      <a href="javascript:0" ng-click="delete(project.id)"> Delete <i class="icon-trash"></a></td>
  </tr>
  </tbody>
  
  
</table>        
</div>
                 <div class="col-md-12" ng-show="filteredItems == 0">
            <div class="col-md-12">
                <h4>No customers found</h4>
            </div>
        </div>
        <div class="col-md-12" ng-show="filteredItems > 0">    
            <div pagination="" page="currentPage" on-select-page="setPage(page)" boundary-links="true" total-items="filteredItems" items-per-page="entryLimit" class="pagination-small" previous-text="&laquo;" next-text="&raquo;"></div>
            
            
        </div>

    </div>
</div>
